{% extends 'basic.html'%}

<!-- title -->
{%  block title%}Edit{% endblock%}

<!-- style -->
 {%block css%}
    <style>
        h1{
            color:aqua;
        }
    </style>
 {% endblock%}

 <!-- body -->
{%block body%}
   
<form action="/update/{{employee.id}}" method="post">
{% csrf_token %}

<div class="form-group">
    <label>Id</label>
    <input type="text" id="eid" name="eid" value="{{employee.eid}}" class="form-control col-lg-4">
    <div class="text-danger" id="eid_error">
        Please Enter your ID
    </div>
</div>
<div class="form-group">
    <label>Name</label>
    <input type="text" id="ename" name="ename" class="form-control col-lg-4" value="{{employee.ename}}">
    <div class="text-danger" id="ename_error">
        Please Enter your name
    </div>
</div>
<div class="form-group">
    <label>Email</label>
    <input type="email" id="email" name="email" class="form-control col-lg-4" value="{{employee.email}}">
    <div class="text-danger" id="email_error">
        Please Enter your Email
    </div>
</div>
<div class="form-group">
    <label>Contact</label>
    <input type="text" id="econtact" onclick="myfun()" name="econtact" class="form-control col-lg-4" value="{{employee.econtact}}">
    <div class="text-danger" id="econtact_error">
        Please Enter your Contact
    </div>
</div>


<div>
    <button class="btn btn-info">Update</button>
</div>
</form>
{% endblock%}

<!-- script -->
{% block script%}
<script>
     
    var id=document.getElementById("eid_error");
    id.classList.add("d-none");
   
    var e_name=document.getElementById("ename_error");
    e_name.classList.add("d-none");
  
    var e_email=document.getElementById("email_error");
    e_email.classList.add("d-none");

    var contact=document.getElementById("econtact_error");
    contact.classList.add("d-none");
    

function myfun(){
var eid=document.getElementById("eid").value.trim();
var ename=document.getElementById("ename").value.trim();
var email=document.getElementById("email").value.trim();
var econtact=document.getElementById("econtact").value.trim();


if(eid===""){
   
    id.classList.remove("d-none");
    return false;
}
else{
id.classList.add("d-none");

}

if(ename===""){
    
    e_name.classList.remove("d-none");
    return false;
}
else{
e_name.classList.add("d-none");

}
if(email===""){
    
    e_email.classList.remove("d-none");
    return false;
}
else{
e_email.classList.add("d-none");

}
if(econtact===""){
   
    contact.classList.remove("d-none");
    return false;
}
else{
contact.classList.add("d-none");

}
}

</script>
{% endblock%}